*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}
main{
    min-width: 300px;
    max-width: 800px;
    padding-bottom: 10px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body{
    background-color: rgb(15, 112, 15);
}
#div{
    text-align: center;
}
#menuh{
    margin: auto;
    background-color: rgb(1, 7, 3);
}
#menuh ul{
    max-width: 800px;
    list-style-type: none;
    padding: 0%;
    background-color: rgb(1, 7, 3);
}
#menuh ul li{
    display: inline;
}
#menuh ul li a{
    color: rgb(15, 112, 15);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
}
#menuh ul li a:hover{
    padding: 21px;
    padding-top: 20px;
    padding-top: 2opx;
    background-color: rgb(12, 75, 36);
}
#sobre{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: rgb(12, 75, 36);
    color: rgb(15, 112, 15);
    display: inline-block;
}
h1{
    background-color: rgb(12, 75, 36);
    padding: 10px;
    color: rgb(1, 7, 3);
}
p{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 15pt;
    text-align: justify;
}
footer{
    position: absolute;
    height: 20px;
    width: 100%;
}
.rodape{
    width: 100%;
    height: 130px;
    text-align: center;
    font-size: 0.7em;
    background-color: rgb(1, 7, 3);
}
.rodape p{
    text-align: center;
    padding-top: 50px;
    font-size: 12pt;
    color: rgb(12, 75, 36);
}